@font-face {
    font-family: 'HelveticaNeueLight';
    src: url('../assets/fonts/HelveticaNeueLight.ttf');
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'HelveticaNeueLight';
}

.text-white {
    color: #fff;
}

.sm-text {
    font-size: 14px;
}

.btn {
    border-radius: 17.5px;
    font-size: 16px;
    height: 35px;
    cursor: pointer;
}

.col {
    box-sizing: border-box;
    float: left;
}

.col-6 {
    width: 100%;
}

.col-4 {
    width: 100%;
}

.clearfix {
    clear: both;
}

.container {
    width: 100%;
    margin: 0 auto; 
}

.lg-title {
    font-size: 55px;
}

.title {
    font-size: 35px;
}

.sub-title {
    font-size: 20px;
}

.logo img {
    width: 80%;
}

nav {
    background-color: #273F63;
    display: none;
}

#fixedNav {
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 10;
    color: #fff;
    transform: translateY(-100%);
}

#fixedNav .container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

nav .nav-ls {
    display: flex;
    position: absolute;
    left: 0;
    align-items: center;
    margin-right: auto;
}

nav .dash-group {
    display: inline-block;
    margin-right: 20px;
}

nav .dash {
    display: block;
    width: 30px;
    height: 3px;
    background: #fff;
}

nav .dash:not(:last-child) {
    margin-bottom: 5px;
}

nav .nav-ls .ls-item {
    margin-right: 20px;
    text-decoration: none;
    color: #fff;
}

nav .login {
    position: absolute;
    right: 0;
    margin-left: auto;
}

nav .login .login-btn {
    height: 35px;
    width: 122px;
    background-color: #BE1C2F;
    color: #fff;
    border: none;
    margin-left: 15px;
}

.top-header {
    display: flex;
    position: relative;
    padding: 30px 0;
}

.top-header .logo {
    margin: 0 auto;
}

.top-header .language-icon {
    width: 80%;
    display: block;
}

.top-header .login {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-header .login .login-btn {
    width: 88px;
    margin-left: 10px;
}

.login-btn span {
    position: relative;
    z-index: 1;
}

.top-header .login-btn span {
    color: #CB4E5B;
}

.login-btn {
    position: relative;
}

.login-btn:hover {
    border-color: #BE1C2F;
}

.login-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #BE1C2F;
    border-radius: 17.5px;
    transition: all .5s cubic-bezier(.165, .84, .44, 1);
    -webkit-transition: all .5s cubic-bezier(.165, .84, .44, 1);
    -moz-transition: all .5s cubic-bezier(.165, .84, .44, 1);
    -ms-transition: all .5s cubic-bezier(.165, .84, .44, 1);
    -o-transition: all .5s cubic-bezier(.165, .84, .44, 1);
}

.login-btn:hover::before {
    width: 100%;
}

.top-header .login-btn:hover span {
    color: #fff;
}

nav .login-btn::before {
    background-color: #fff;
}

nav .login-btn:hover span {
    color: #BE1C2F;
}

/* sec1 */

.sec1 {
    background: url(../assets/images/09.png) center 100% no-repeat;
    background-size: cover;
}

.intro-container {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 60px;
}

.intro-container .burble {
    position: relative;
    opacity: 0; 
    -webkit-animation-name: burbleAnimation;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 0.5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
    
    animation-name: burbleAnimation;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.intro-container .intro-content {
    position: absolute;
    top: 20%;
    opacity: 0;
    -webkit-animation-name: introAnimation;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
    
    animation-name: introAnimation;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.intro-container .girl {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 50px;
    opacity: 0; 
    -webkit-animation-name: girlAnimation;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
    
    animation-name: girlAnimation;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes burbleAnimation {
    0%   {opacity: 0; bottom: 0;}
    25%  {opacity: 0; bottom: 10px;}
    50%  {opacity: 0; bottom: 20px;}
    75%  {opacity: 1; bottom: 30px;}
    100% {opacity: 1; bottom: 60px;}
}

@keyframes introAnimation {
    from  {opacity: 0; transform:scale(0);}
    to {opacity: 1; transform:scale(1);}
}

@keyframes girlAnimation {
    0%   {opacity: 0; bottom: -300px;}
    25%  {opacity: 0; bottom: -200px;}
    50%  {opacity: 0; bottom: -100px;}
    75%  {opacity: 1; bottom: 0px;}
    100% {opacity: 1; bottom: 0px;}
}

.intro-container .girl img {
    display: block;
    margin: 0 auto;
}

.intro-content .intro-text {
    font-size: 25px;
    margin: 30px auto 20px;
}

.intro-container .intro-content .btn-ls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro-content .intro-btn {
    width: 163px;
    color: #BE1C2F;
    margin-bottom: 10px;
    border: 1px solid #BE1C2F;
    background-color: transparent;
}

/* sec2 */
.sec2 {
    background: url('../assets/images/wave-bg.png') top center no-repeat;
    background-size: cover;
    padding: 40px 0;
}

.sec2 .knowledge .grid {
    max-width: 100%;
    margin: 0 auto;
}

.sec2 .grid .col {
    padding: 0 30px;
    margin-bottom: 30px;
}

.sec2 .title {
    text-align: center;
}

.sec2 .knowledge .title {
    margin-bottom: 40px;
}

.sec2 .knowledge .computer-img {
    margin: 40px auto 0;
    max-width: 80%;
    display: block;
}

.sec2 .item .content {
    font-size: 16px;
}

.sec2 .practice .item .sub-title {
    margin-bottom: 30px;
}

.sec2 .practice .item {
    padding: 0 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sec2 .practice .item:hover {
    transition: all .4s;
    transform: scale(1.04);
    color: #fff;
    -webkit-box-shadow: 0 0 1rem rgba(0,0,0,.6);
    box-shadow: 0 0 1rem rgba(0,0,0,.6);
    background-color:  #273F63;
}

.sec2 .practice .item .practice-link {
    visibility: hidden;
}

.sec2 .practice .item:hover .practice-link {
    visibility: visible;
    color: #fff;
    display: inline-block;
    margin-top: 70px;
    text-decoration: none;
    border-bottom: 3px solid #BE1C2F;
}

@media (min-width: 1200px) {
    .col-6 {
        width: 50%;
    }

    .col-4 {
        width: 33.3333%;
    }

    .container {
        width: 1200px; 
    }

    .sec2 .knowledge .grid {
        max-width: 960px;
    }

    .sec2 .practice .title {
        position: relative;
        top: -83px;
    }

    .sec2 .practice .item {
        min-height: 340px;
    }
}